body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  text-align: center;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #add8e6;
}

header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.upload-container {
  display: inline-block;
  margin: 20px;
}

.upload-box {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
}

.upload-box span {
  font-size: 16px;
  color: #888;
}

.upload-container input[type="file"] {
  display: none;
}

#controls-section {
  margin: 20px 0;
}

#controls-section p {
  font-size: 16px;
  margin-bottom: 10px;
}

#process-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  transition: background-color 0.5s ease;
}
#process-button:hover {
  background-color: #419a46; /* Background color on hover */
}

#result-section {
  display: none;
  margin-top: 20px;
}

#result-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

#transformed-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

#download-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  transition: background-color 0.5s ease;
}
#download-button:hover {
  background-color: #419a46; /* Background color on hover */
}

#social-share-buttons {
  display: none;
  justify-content: center;
  gap: 10px;
}

#social-share-buttons p {
  font-size: 16px;
  margin: 10px 0;
}

#social-share-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

#social-share-buttons button img {
  width: 32px;
  height: 32px;
}
